@import 'tailwindcss';

:root {
  --primary: #ffffff;
  --secondary: #89dc5f;
  --background: #2d2d32;
  --foreground: #293133;
}

@theme {
  --animate-cross-border-left: cross-border-left 1.6s ease-in forwards;
  --animate-cross-border-bottom: cross-border-bottom 1.6s ease-in forwards;

  @keyframes cross-border-left {
    0% {
      clip-path: polygon(6% 0, 100% 0, 100% 100%, 6% 100%);
    }
    100% {
      clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @keyframes cross-border-bottom {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 77%, 0 77%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 70%);
    }
  }
}

html,
body {
  background-color: var(--background);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
