@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #161616;
  --text-primary: #ffffff;
  --text-secondary: #89dc5f;
  --white: #ffffff;
  --black: #161616;
  --green: #89dc5f;
  --yellow: #fac921;
  --red: #eb524d;
  --light-blue: #d7f5ff;
  --blue: #4d9feb;
  --grey: #293133;
  --grey-2: #2d2d32;
}

@theme {
  --animate-cross-border-left: cross-border-left 1.6s ease-in forwards;
  --animate-cross-border-bottom: cross-border-bottom 1.6s ease-in forwards;

  @keyframes cross-border-left {
    0% {
      clip-path: polygon(6% 0, 100% 0, 100% 100%, 6% 100%);
    }
    100% {
      clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @keyframes cross-border-bottom {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 77%, 0 77%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 70%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
